html,
body {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-image: linear-gradient(
      to bottom right,
      #1572A1,
      #FFC0D3,
      #B667F1,
      #9AD0EC,
      #270082
    );
}

.header {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #animateText {
    margin: 0.5%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 1vw;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @media only screen and (max-width: 510px) {
    #animateText {
      font-size: large;
    }
  }
  
  @media only screen and (max-width: 320px) {
    #animateText {
      font-size: medium;
    }
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  
#mynetwork {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
}

#container2 {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#mynetwork2{
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}


#generate-graph{
    height: 70%;
    margin:  auto;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 50vw;
    display:block;
    font-size: medium;
    color: white;
    background-color: black;
    transition: 0.3s;
}

#solve{
    height: 70%;
    margin:  auto;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 50vw;
    display:block;
    font-size: medium;
    color: white;
    background-color: black;
    transition: 0.3s;
}
#generate-graph:hover {
    border-color: peru;
    color: peru;
  }
  
  #solve:hover {
    border-color: green;
    color: green;
    
  }
  .copyright{
 
    padding-left: 2%;
    padding-right: 2%;
    display:block;
    font-size:small;
    color: white;
    
}
  